html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.sketchLink {
  position:relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  top:100px;
  left:150px;
  text-decoration: none;
  color:blue;
  font-size:30px;
}

.hello {
 color:red;
  top:50px;
  left:50px;
  
}
  
.sketchLink:hover{color:yellow}
