html, body {

}

body {

align-content: center;
text-align: center;
}

.sketch {
  margin: 0;
  display: flex;
  position: relative;
  /* This centers our sketch horizontally. */
  justify-content: center;
  align-content:center;
  width: 100%;
}

.inputs {
  width:100%;
  margin:0;
}